* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #1B1B1B;
  --color-secondary: #333333;
  --color-bg: #F5F4F0;
  --color-hl: #E1624F;
  --accent-blue: #0C51A7;
  --accent-purple: #591B98;
  --accent-pink: #E5245E;
  --accent-orange: #E95E10;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--color-secondary);
  background-color: var(--color-bg);
  text-align: left;
  padding: 3.75rem 1.5rem;
}

header {
  width: 100%;
  max-width: 70rem;
  margin: 4rem auto 4rem auto;
}

.headline {
  color: var(--color-hl);
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

h1 {
  color: var(--color-primary);
  font-size: 2.25rem;
  font-weight: 700;
}

#introduction {
  width: 100%;
  max-width: 70rem;
  margin: 0 auto 4rem auto;
  text-align: center;
}

#introduction img {
  width: 100%;
  max-width: 70rem;
  height: 41.25rem;
  border: 0.125rem solid transparent;
  border-radius: 1.75rem;
  margin-bottom: 1.5rem;
}

.legend {
  font-size: 1rem;
  line-height: 1.75rem;
  text-align: justify;
  color: var(--color-secondary);
  font-style: italic;
}

#highlights {
  width: 100%;
  max-width: 70rem;
  margin: 0 auto 2.5rem auto;
}

#highlights h2 {
  color: var(--color-primary);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

#highlights p {
  font-size: 1rem;
  line-height: 1.75rem;
  margin-bottom: 2.5rem;
}

#attractions {
  width: 100%;
  max-width: 70rem;
  margin: 0 auto;
  counter-reset: attraction;
}

.attraction h3::before {
  counter-increment: attraction;
  content: counter(attraction) ". ";
}

.attraction img {
  display: block;
  width: 100%;
  height: 21.875rem;
  border: 0.125rem solid transparent;
  border-radius: 1.75rem;
  margin-bottom: 1.5rem;
  object-fit: cover;
}

.attraction h3 {
  color: var(--color-primary);
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}

.attraction p {
  font-size: 1rem;
  line-height: 1.75rem;
  margin-bottom: 1rem;
}

ul {
  padding-left: 1.25rem;
}

.secondary {
  font-size: 1rem;
  color: var(--color-secondary);
  margin-bottom: 2.5rem;
}

.secondary b {
  font-weight: 600;
}

a:focus,
a:hover {
  text-decoration: underline;
}

.accent-blue {
  color: var(--accent-blue);
  text-decoration: none;
  font-weight: bold;
}

.accent-purple {
  color: var(--accent-purple);
  text-decoration: none;
  font-weight: bold;
}

.accent-pink {
  color: var(--accent-pink);
  text-decoration: none;
  font-weight: bold;
}

.accent-orange {
  color: var(--accent-orange);
  text-decoration: none;
  font-weight: bold;
}

#description {
  width: 100%;
  max-width: 70rem;
  margin: 0 auto;
}

#description p {
  font-size: 1rem;
  line-height: 1.75rem;
  text-align: justify;
  color: var(--color-secondary);
}

footer {
  color: var(--color-secondary);
  text-align: center;
  margin-top: 5rem;
}